# Environment variables
.env

# Virtual environment
venv/

# Database files
database/users.db

# Logs
logs/

# Python cache
__pycache__/
*.pyc

# Excel files (if they contain sensitive data)
backend_data/*.xlsx
